.charsheet button[type=roll]:before,    /* 주사위 내부*/
.charsheet button[type=action]:before {
	font-family: Arial, Helvetica, sans-serif !important;
	content: "★" !important;
}

.charsheet button[type=roll].sheet-new-roll{   /* normal dice*/
    color: #e10085 !important;
    background-color: #582945 !important;
    /* background-image: none; */
    border: 1px solid #ffffff !important;
    border-radius: 0px !important;
}

.charsheet button[type=roll].sheet-old-roll{   /* bonus dice*/
    color: #e1ac00 !important;
}

.charsheet button[type=roll].sheet-smallbutton-roll{   /* companions & mounts */
    color: #00e125 !important;
}

.charsheet button[type=roll].sheet-dice-roll { /* Pulp Sanity*/
  color: #288197 !important;
}

.charsheet button[type=roll].sheet-smallnonskillbutton-roll {  /* Dice ROlls, initiative, Defence, Armor*/
  color: #5f2c99 !important; 
}

.charsheet button[type=action].sheet-dice-roll-action {    /* Luck */
  color: #b05dd1 !important;
}

.charsheet button[type=action].sheet-nadv-action{   /* combat normal*/
    color:#851818 !important;
}

.charsheet button[type=action].sheet-adv-action{
    color:#856319 !important;
}

.charsheet {    /* 시트 배경 */
    background-image: url(https://mosae-765.github.io/hgd_mrmrmrmrmr/assets/images/pantom3/pantom3.png) !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-color: #888888;
    border: 2px solid #ffff00 !important;
    color:black;
    font-family: cursive !important;
}

h4.sheet-section-head {    /* 각 칸 헤더 */
    background-image: none !important;
    background-color: #00e125 !important;
    color: #000000 !important;
    border: 1px solid #00e125 !important;
}

div.sheet-section {    /* 각 칸 내용 */
    background-color: #ac7631 !important; 
    border: 2px solid #288197 !important;
    border-radius: 30px !important;
    border-top-right-radius: 0% !important;
    border-top-left-radius: 0% !important;
}

.charsheet input{    /* 수치 입력 */
    background-color: #000000 !important;
    color: #ffffff !important;
}

.charsheet .repcontrol_add, /* 뭐라하지 추가 삭제 버튼들? */
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del {
    background: #ffffff !important;
    color: #000000 !important;
}

.sheet-showpulp,
.sheet-logosection {
    visibility: block !important;  /*coc로고삭제 여부(hidden/block)*/
}

.sheet-rolltemplate-coc table,  /* 다 중 선 택 왜 안 먹 혀*/
.sheet-rolltemplate-coc--body-hit-loc table,
.sheet-rolltemplate-coc-1 table,
.sheet-rolltemplate-coc-attack table,
.sheet-rolltemplate-coc-attack-1 table,
.sheet-rolltemplate-coc-body-hit-loc table,
.sheet-rolltemplate-coc-bomadness-da-rt table,
.sheet-rolltemplate-coc-bomadness-da-summ table,
.sheet-rolltemplate-coc-bomadness-rt table,
.sheet-rolltemplate-coc-bomadness-summ table,
.sheet-rolltemplate-coc-defence table,
.sheet-rolltemplate-coc-defence-1 table,
.sheet-rolltemplate-coc-defence-2 table,
.sheet-rolltemplate-coc-dice-roll table,
.sheet-rolltemplate-coc-init-reroll table,
.sheet-rolltemplate-coc-init-stc table,
.sheet-rolltemplate-coc-minionattack table,
.sheet-rolltemplate-coc-miniondef table,
.sheet-rolltemplate-coc-mixed-bomadness-rt table,
.sheet-rolltemplate-coc-mixed-bomadness-summ table,
.sheet-rolltemplate-coc-one-row-center table,
.sheet-rolltemplate-coc-pulp-bomadness-rt table,
.sheet-rolltemplate-coc-pulp-bomadness-summ table,
.sheet-rolltemplate-coc-vehicleattack table,
.sheet-rolltemplate-type-coc-attack table,
.sheet-rolltemplate-type-coc-attack-1 table{
    
    background-image: url(https://mosae-765.github.io/hgd_mrmrmrmrmr/assets/images/grizzly/grizzly.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: 100% !important; 
    font-family: cursive !important;
    color: #ffffff !important;
    background-color: #000000 !important; /*이미지 뒤로 가는 배경색*/
    
    border-color: #000000 !important;
    border-width: 3px !important;
    border-radius: 30px !important;
}

.sheet-rolltemplate-coc caption,  /* 다 중 선 택 dk.......*/
.sheet-rolltemplate-coc--body-hit-loc caption,
.sheet-rolltemplate-coc-1 caption,
.sheet-rolltemplate-coc-attack caption,
.sheet-rolltemplate-coc-attack-1 caption,
.sheet-rolltemplate-coc-body-hit-loc caption,
.sheet-rolltemplate-coc-bomadness-da-rt caption,
.sheet-rolltemplate-coc-bomadness-da-summ caption,
.sheet-rolltemplate-coc-bomadness-rt caption,
.sheet-rolltemplate-coc-bomadness-summ caption,
.sheet-rolltemplate-coc-defence caption,
.sheet-rolltemplate-coc-defence-1 caption,
.sheet-rolltemplate-coc-defence-2 caption,
.sheet-rolltemplate-coc-dice-roll caption,
.sheet-rolltemplate-coc-init-reroll caption,
.sheet-rolltemplate-coc-init-stc caption,
.sheet-rolltemplate-coc-minionattack caption,
.sheet-rolltemplate-coc-miniondef caption,
.sheet-rolltemplate-coc-mixed-bomadness-rt caption,
.sheet-rolltemplate-coc-mixed-bomadness-summ caption,
.sheet-rolltemplate-coc-one-row-center caption,
.sheet-rolltemplate-coc-pulp-bomadness-rt caption,
.sheet-rolltemplate-coc-pulp-bomadness-summ caption,
.sheet-rolltemplate-coc-vehicleattack caption,
.sheet-rolltemplate-type-coc-attack caption,
.sheet-rolltemplate-type-coc-attack-1 caption {
  background-color: none !important;
  background: #00e125 !important;
}

.sheet-rolltemplate-coc td,
.sheet-rolltemplate-coc--body-hit-loc td,
.sheet-rolltemplate-coc-1 td,
.sheet-rolltemplate-coc-attack td,
.sheet-rolltemplate-coc-attack-1 td,
.sheet-rolltemplate-coc-body-hit-loc td,
.sheet-rolltemplate-coc-bomadness-da-rt td,
.sheet-rolltemplate-coc-bomadness-da-summ td,
.sheet-rolltemplate-coc-bomadness-rt td,
.sheet-rolltemplate-coc-bomadness-summ td,
.sheet-rolltemplate-coc-defence td,
.sheet-rolltemplate-coc-defence-1 td,
.sheet-rolltemplate-coc-defence-2 td,
.sheet-rolltemplate-coc-dice-roll td,
.sheet-rolltemplate-coc-init-reroll td,
.sheet-rolltemplate-coc-init-stc td,
.sheet-rolltemplate-coc-minionattack td,
.sheet-rolltemplate-coc-miniondef td,
.sheet-rolltemplate-coc-mixed-bomadness-rt td,
.sheet-rolltemplate-coc-mixed-bomadness-summ td,
.sheet-rolltemplate-coc-one-row-center td,
.sheet-rolltemplate-coc-pulp-bomadness-rt td,
.sheet-rolltemplate-coc-pulp-bomadness-summ td,
.sheet-rolltemplate-coc-vehicleattack td,
.sheet-rolltemplate-type-coc-attack td,
.sheet-rolltemplate-type-coc-attack-1 td{
    border-bottom: 4px solid #5f2c99 !important;
    background: none !important;
}

.sheet-rolltemplate-coc tr,
.sheet-rolltemplate-coc--body-hit-loc tr,
.sheet-rolltemplate-coc-1 tr,
.sheet-rolltemplate-coc-attack tr,
.sheet-rolltemplate-coc-attack-1 tr,
.sheet-rolltemplate-coc-body-hit-loc tr,
.sheet-rolltemplate-coc-bomadness-da-rt tr,
.sheet-rolltemplate-coc-bomadness-da-summ tr,
.sheet-rolltemplate-coc-bomadness-rt tr,
.sheet-rolltemplate-coc-bomadness-summ tr,
.sheet-rolltemplate-coc-defence tr,
.sheet-rolltemplate-coc-defence-1 tr,
.sheet-rolltemplate-coc-defence-2 tr,
.sheet-rolltemplate-coc-dice-roll tr,
.sheet-rolltemplate-coc-init-reroll tr,
.sheet-rolltemplate-coc-init-stc tr,
.sheet-rolltemplate-coc-minionattack tr,
.sheet-rolltemplate-coc-miniondef tr,
.sheet-rolltemplate-coc-mixed-bomadness-rt tr,
.sheet-rolltemplate-coc-mixed-bomadness-summ tr,
.sheet-rolltemplate-coc-one-row-center tr,
.sheet-rolltemplate-coc-pulp-bomadness-rt tr,
.sheet-rolltemplate-coc-pulp-bomadness-summ tr,
.sheet-rolltemplate-coc-vehicleattack tr,
.sheet-rolltemplate-type-coc-attack tr,
.sheet-rolltemplate-type-coc-attack-1 tr{
    border-bottom: 4px solid #5f2c99 !important;
    background: none !important;
}

.sheet-rolltemplate-coc .inlinerollresult,  /* ㅠㅠ*/
.sheet-rolltemplate-coc--body-hit-loc .inlinerollresult,
.sheet-rolltemplate-coc-1 .inlinerollresult,
.sheet-rolltemplate-coc-attack .inlinerollresult,
.sheet-rolltemplate-coc-attack-1 .inlinerollresult,
.sheet-rolltemplate-coc-body-hit-loc .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-da-rt .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-da-summ .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-rt .inlinerollresult,
.sheet-rolltemplate-coc-bomadness-summ .inlinerollresult,
.sheet-rolltemplate-coc-defence .inlinerollresult,
.sheet-rolltemplate-coc-defence-1 .inlinerollresult,
.sheet-rolltemplate-coc-defence-2 .inlinerollresult,
.sheet-rolltemplate-coc-dice-roll .inlinerollresult,
.sheet-rolltemplate-coc-init-reroll .inlinerollresult,
.sheet-rolltemplate-coc-init-stc .inlinerollresult,
.sheet-rolltemplate-coc-minionattack .inlinerollresult,
.sheet-rolltemplate-coc-miniondef .inlinerollresult,
.sheet-rolltemplate-coc-mixed-bomadness-rt .inlinerollresult,
.sheet-rolltemplate-coc-mixed-bomadness-summ .inlinerollresult,
.sheet-rolltemplate-coc-one-row-center .inlinerollresult,
.sheet-rolltemplate-coc-pulp-bomadness-rt .inlinerollresult,
.sheet-rolltemplate-coc-pulp-bomadness-summ .inlinerollresult,
.sheet-rolltemplate-coc-vehicleattack .inlinerollresult,
.sheet-rolltemplate-type-coc-attack .inlinerollresult,
.sheet-rolltemplate-type-coc-attack-1 .inlinerollresult {
    border: 2px solid #00000000 !important;
    background: #ffbdbd !important;
}